In [1]:
import pandas as pd

In [5]:
df1 = pd.DataFrame({'A': [1, 2, 0], 'B': [3, 4, 0], 'C': [5, 6, 0]})
display(df1)

   A  B  C
0  1  3  5
1  2  4  6
2  0  0  0

In [6]:
df2 = pd.DataFrame([ [1,2,3], [2,3,4] ],
                  columns = ['A', 'B', 'C'], 
                  index = ['Almaty', 'Astana'])
display(df2)

        A  B  C
Almaty  1  2  3
Astana  2  3  4